@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/kulim-park');

/*-------------------------------------------------------------- # Base Section Start--------------------------------------------------------------*/
:root {
  --main-bg-color: #e5e0da;
  --accent-bg-color: #f5f5f5;
  --font-green-color: #3a6b3c;
  --font-green-faded-color: #7c967d;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Kulim Park', sans-serif;
  color: black;
}

.main-bg {
  background: var(--main-bg-color);
}

.alt-bg {
  background: var(--accent-bg-color);
}

.section-container {
  padding: 10% 10%;
}

@media (min-width: 1200px) {
  .section-container {
    padding: 5% 25%;
  }

  .section-container-desk-wide {
    padding: 5% 10% !important;
  }
}

.section {
  margin: auto;
}

.air {
  height: min(16vh, 4rem);
}

.h-screen {
  height: clamp(100dvh, 100dvh, 250vh);
}

/* General Section */

.hidden {
  display: none !important;
}

@media (min-width: 1200px) {
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .desktop-only {
    display: none !important;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  text-transform: capitalize;
  text-align: center;
  font-size: min(7.5vw, 2.5rem);
  margin: min(2vh, 0.5rem) 0;
  font-weight: 800;
}

h3,
h4 {
  text-align: center;
  text-transform: capitalize;
  font-size: min(6vw, 2rem);
  font-weight: 600;
}

h5,
h6,
p {
  font-size: min(3vw, 1rem);
  text-align: left;
  font-weight: 400;
}

h1,
h3,
h5,
p {
  color: #0a0c1f;
  font-style: normal;
}

h2,
h4,
h6 {
  color: var(--font-green-color);
  font-style: normal;
  font-weight: 600;
}

/* Main Section */
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

#main #logo img {
  width: min(90vw, 30rem);
}

#main #scroll-down {
  width: min(45vw, 15rem);
  bottom: 2%;
  position: absolute;
}

#main #vl-container {
  margin: min(8vh, 2rem) 0;
}

#main #vl-container .vl {
  text-align: center;
  border-left: min(0.4vh, 0.1rem) solid #0a0c1f;
  height: min(40vh, 10rem);
  display: flex;
  justify-content: center;
}

#main h1,
#main h3 {
  text-transform: uppercase;
  margin: 0;
}

#main h1 {
  font-size: min(12vw, 4rem);
  font-weight: 1000;
  letter-spacing: min(0.12vw, 0.4rem);
}

#main h3 {
  letter-spacing: min(3vw, 1rem);
  text-shadow: 0px min(0.16vh, 0.04rem) min(0.16vh, 0.04rem) rgba(0, 0, 0, 0.25);
}

#main h4 {
  letter-spacing: min(0.6vw, 0.2rem);
}

/*-------------------------------------------------------------- # main Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # form Section Start --------------------------------------------------------------*/

/* Base */
#form {
  background: var(--accent-bg-color);
  text-align: center;
}

/* Progress */
#form #form-progress {
  display: grid;
  grid-template-columns: repeat(9, minmax(0px, 1fr));
  grid-template-rows: repeat(1, minmax(0px, 1fr));
  gap: min(1.5vw, 0.5rem);
  place-items: center stretch;
  margin: auto;
  padding: min(9vw, 3rem) 0;
  width: min(75vw, 25rem);
}

#form #form-progress .numberCircle {
  color: grey;
  border-radius: 50%;
  border: min(0.3vw, 0.1rem) solid grey;
  aspect-ratio: 1/1;
  font-size: min(4.5vw, 1.5rem);
}

#form #form-progress .numberCircle.current {
  background: #fff;
  border: min(0.3vw, 0.1rem) solid var(--font-green-color);
  color: var(--font-green-color);
}

#form #form-progress .numberCircle.progressed {
  background: var(--font-green-color);
  border: min(0.3vw, 0.1rem) solid white;
  color: white;
}

#form #form-progress .progress-separator {
  border-bottom: min(0.4vh, 0.1rem) solid grey;
}

/* QA */

#form label {
  display: block;
  font-size: min(4.5vw, 1.5rem);
}

#form .form-a {
  margin: min(6vh, 1.5rem) 0;
}

#form .form-a textarea {
  border-radius: min(0.8vh, 0.2rem);
  padding: min(4vh, 1rem);
  width: 100%;
  height: min(32vh, 8rem);
  font-size: min(4.5vw, 1.5rem);
}

#form #form-q5 .form-a label {
  font-size: min(4.5vw, 1rem);
  display: inline-block;
  width: 33%;
  height: 0;
  text-align: left;
}

#form #form-q5 input[type='text'],
#form #form-q5 select {
  font-size: min(4.5vw, 1rem);
  margin: min(1.6vh, 0.4rem) 0;
  padding: 0 min(1.6vh, 0.4rem);
  border-radius: min(1.6vh, 0.4rem);
  width: 63%;
  height: min(6vh, 3rem);
}

#form #form-q5 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/></svg>');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: min(3.2vh, 0.8rem);
  cursor: pointer;
  padding-right: min(3.2vh, 0.8rem); /* Adjust padding to match input element */
}

#form #form-q5 #form-agreement {
  margin: min(1.6vh, 0.4rem) 0;
}

/* Buttons */
#form button {
  background-color: white;
  margin: min(1.6vh, 0.4rem);
  width: min(45vw, 15rem);
  height: min(10vh, 2.5rem);

  font-size: min(4.5vw, 1rem);
  color: var(--font-green-color);
  font-weight: 600;

  border-radius: min(1.6vh, 0.4rem);
  border: min(0.4vh, 0.1rem) solid var(--font-green-color);
}

#form button.selected {
  background-color: var(--font-green-color);
  color: white;
}

#form #form-buttons button {
  width: min(24vw, 6rem);
}

#form #form-buttons button.completed {
  background-color: var(--font-green-color);
  color: white;
}

/* Post */

#form #form-post-container {
  min-height: 65vh;
}

#form #form-post {
  margin: auto;
}

#form #form-post h3 {
  font-size: min(6vw, 2rem);
  line-height: min(6vw, 2rem);
  margin-bottom: min(3vh, 1rem);
  text-align: left;
}

.gg-check-o {
  --ggs: 3;
  color: black;
  background-color: black;
  margin: auto;
  margin-bottom: 50px;
}

.gg-check-o::after {
  color: var(--accent-bg-color);
}

#form .employee-signature {
  margin-left: auto;
  width: min(16vw, 4rem);
  margin-top: min(1.6vh, 0.4rem);
}

/* @media (min-width: 1200px) {
  #form {
    width: max(75vw, 900px);
  }

  #form .form-a {
    display: flex;
    flex-direction: row;
  }

  #form .qbutton {
    margin-right: 10px;
  }
} */

/*-------------------------------------------------------------- # form Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # slogan Section Start --------------------------------------------------------------*/

#slogan {
  background: var(--main-bg-color);
}

#slogan .click-me img {
  margin: auto;
  width: min(60vw, 20rem);
  margin-bottom: max(-4vh, -1rem);
}

#slogan h2,
#slogan h2 span {
  color: var(--font-green-faded-color);
  letter-spacing: min(0.6vw, 0.2rem);
}

#slogan h2 {
  margin: min(1.8vw, 0.6rem);
}

#slogan h2:hover,
#slogan h2 span:hover,
#slogan .selected {
  color: var(--font-green-color);
}

#slogan h2:hover span,
#slogan h2 span {
  text-decoration: underline;
}

/*-------------------------------------------------------------- # slogan Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # clients Section Start --------------------------------------------------------------*/

#clients {
  background: var(--accent-bg-color);
}

#clients .gallery-cell {
  width: 80%;
  margin-right: min(6vh, 1.5rem);
  counter-increment: gallery-cell;
}

@media (min-width: 1200px) {
  #clients .gallery-cell img {
    margin: auto;
    width: 85%;
  }

  #clients .lift {
    margin: 0 0 min(8vh, 2rem) 0;
  }

  #clients .drop {
    margin: min(8vh, 2rem) 0 0 0;
  }
}

#clients img {
  width: 100%; /* set the width of the image to 100% of the container */
}

/*-------------------------------------------------------------- # clients Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # offer Section Start --------------------------------------------------------------*/

#offer {
  background: var(--main-bg-color);
}

#offer .gallery {
  background: #eee;
  border-radius: 4%;
  width: min(100%, 500px);
  margin: auto;
}

#offer .flickity-viewport {
  border-radius: 4%;
  background: #fcecbb;
}

#offer img {
  width: 100%; /* set the width of the image to 100% of the container */
  height: 100%; /* set the height of the image to 100% of the container */
  -o-object-fit: cover;
  object-fit: cover; /* stretch the image to fill the container */
}

#offer .gallery-cell {
  width: 100%;
}

#offer .gallery-cell-top {
  width: 100%;
  height: 55%;
}

#offer .gallery-cell-bot {
  width: 100%;
  height: 45%;
  background: #fcecbb;
}

#offer h5 {
  font-size: min(6vw, 2rem);
  font-weight: 600;
  padding: min(6vw, 2rem) 0 min(1.5vw, 0.5rem) 0em;
  margin: 0;
  text-align: center;
}

/* position dots in carousel */
#offer .flickity-page-dots {
  bottom: 28%;
}

#offer p {
  font-weight: 400;
  padding: 0 10% min(4vh, 1rem) 10%;
  margin: 0;
  text-align: center;
}

#offer #everfit {
  padding: 2em 0;
}

/* smaller, dark, rounded square */
#offer .flickity-button {
  background: #333;
}
#offer .flickity-button:hover {
  background: #f90;
}

#offer .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
/* icon color */
#offer .flickity-button-icon {
  fill: white;
}

#offer .everfit {
  margin: auto;
  width: min(45vw, 15rem);
  margin-top: min(4.5vh, 1.5rem);
}

@media (min-width: 1200px) {
  #offer-container,
  #offer {
    background-color: #eef5ff;
  }

  #offer img {
    width: 80%;
  }

  #offer #offer-entree-texts {
    align-items: start;
  }

  #offer .offer-entree-text {
    margin-bottom: min(3vw, 1rem);
    padding-left: min(1.5vw, 0.5rem);
    border-left: min(0.6vw, 0.2rem) solid var(--font-green-color);
  }

  #offer .selected h5,
  #offer .selected p {
    color: #0a0c1f;
  }

  #offer h1,
  #offer h5,
  #offer p {
    text-align: left;
  }

  #offer h5 {
    font-size: min(3vw, 1rem);
    padding: 0;
    color: #7f8199;
  }

  #offer p {
    padding: min(0.75vw, 0.25rem) 0 0 0;
    color: #7f8199;
  }
}
/*-------------------------------------------------------------- # offer Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # howto Section Start --------------------------------------------------------------*/

@media (max-width: 800px) {
  #howto-section-container {
    padding: 10% 0%;
  }
}

#howto {
  background: var(--accent-bg-color);
}

#howto .step {
  margin: min(8vh, 2rem) 0;
  height: min(16vh, 25vw);
  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  grid-template-rows: repeat(1, minmax(0px, 1fr));
}

#howto .step .right {
  justify-self: end;
  justify-content: space-around;
  text-align: right;
}

#howto .step .left {
  justify-self: start;
  justify-content: space-around;
  text-align: left;
}

#howto .step .block.left,
#howto .step .block.right {
  min-width: 25vw;
}

#howto .step .block.right {
  margin-left: max(-7.5vh, -12.5vw);
  padding-left: min(12vw, 8vh);
  padding-right: 2.5vw;
}

#howto .step .block.left {
  margin-right: max(-7.5vh, -12.5vw);
  padding-right: min(12vw, 8vh);
  padding-left: 2.5vw;
}

#howto .step .step-id {
  grid-column: span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#howto .step .circle {
  grid-column: span 1 / span 1;
  height: inherit;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #f4d9d0;
  display: flex;
  flex-direction: column;
}

#howto .step .circle img {
  align-self: center;
  color: #c48468;
  z-index: 2;
}

#howto .step .block {
  display: flex;
  flex-flow: column;
  background: #f4d9d0;

  justify-content: center;
  grid-column: span 2 / span 2;
}

#howto .step .block p,
#howto .step .block h5 {
}

#howto .step .block h5 {
  font-size: min(4.5vw, 1.5rem);
  font-weight: 600;
}

#howto .go-to-form img {
  margin: auto;
  width: min(30vw, 10rem);
}

/*-------------------------------------------------------------- # howto Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # employee Section Start --------------------------------------------------------------*/

#employee-container {
  padding-bottom: 0 !important;
}

#employee #employee-container-container {
  flex-direction: column;
}

#employee .employee-description {
  padding-bottom: 5vh;
}

#employee .employee-signature {
  margin-left: auto;
  width: min(16vw, 4rem);
  margin-top: min(1.6vh, 0.4rem);
}

#employee .employee-image img {
  margin: auto;
  max-width: 65%;
}

@media (min-width: 1200px) {
  #employee #employee-container-container {
    flex-direction: row;
  }

  #employee #employee-container-container h1 {
    text-align: left;
  }

  #employee .employee-description,
  #employee .employee-image {
    width: 50%;
  }
}

/*-------------------------------------------------------------- # employee Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # faq Section Start --------------------------------------------------------------*/

#faq {
  background: var(--accent-bg-color);
}

.faq .faq-question,
.faq button .icon {
  color: var(--font-green-color);
}

.faq .faq-item {
  border-bottom: 1px solid light grey;
  background: white;
}
.faq .faq-item button[aria-expanded='true'] {
  border-bottom: 1px solid var(--font-green-color);
}
.faq button {
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 1em 3em 1em 1em;
  color: var(--font-green-color);
  font-size: min(3vw, 1rem);
  font-weight: 600;
  border: none;
  background: none;
  outline: none;
  width: 100%;
}

.faq button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  width: 22px;
  height: 22px;
  right: 3%;
}

.faq button .icon::before {
  display: block;
  position: absolute;
  content: '';
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 12px;
  height: 12px;
  border: 2px solid currentColor;
  border-top: none;
  border-right: none;
}

@media (min-width: 1200px) {
  .faq button .icon::before {
    top: 50%;
  }
}

.faq button[aria-expanded='true'] + .faq-answer {
  opacity: 1;
  max-height: 100vh;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  background: rgba(58, 107, 60, 0.09);
}
.faq .faq-answer p {
  line-height: 1.5em;
  margin: 1em 1em 1em 1em;
  text-align: justify;
}

/*-------------------------------------------------------------- # faq Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # foot Section Start --------------------------------------------------------------*/

#foot {
  background: var(--main-bg-color);
  align-items: center;
}

#foot #foot-container {
  flex-direction: column;
}

@media (min-width: 1200px) {
  #foot {
    width: 100%;
  }

  #foot #foot-container .container,
  #foot #foot-container {
    display: inline;
  }

  #foot #foot-container h6,
  #foot #foot-container p {
    font-size: min(4.5vw, 15px) !important;
    margin: min(1.5vw, 5px);
    float: left;
  }

  #foot .social-icons img {
    float: right;
    margin: 0 15px;
  }
}

#foot #logo-foot {
  margin: auto;
}

#foot #logo-foot img {
  width: min(60vw, 15rem);
}

#foot h1,
#foot h3 {
  text-transform: uppercase;
  margin: 0;
}

#foot h1 {
  font-size: min(12vw, 4rem);
  font-weight: 1000;
  letter-spacing: min(0.12vw, 0.3rem);
}

#foot h3 {
  letter-spacing: min(3.2vw, 0.8rem);
  text-shadow: 0px min(0.16vh, 0.4rem) min(0.16vh, 1px) rgba(0, 0, 0, 0.25);
}

#foot #terms {
  flex-flow: column;
  margin: min(3vh, 1rem) 0;
}

#foot hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eceae7;
  margin: min(4.5vh, 30px) 0;
}

#foot .social-icons img {
  color: var(--font-green-color);
}

/*-------------------------------------------------------------- # foot Section End --------------------------------------------------------------*/
