@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------------------------------------- # Base Section Start--------------------------------------------------------------*/
:root {
  --main-bg-color: #d3c6b6;
  --accent-bg-color: #f5f5f5;
  --font-green-color: #3a6b3c;
}

html * {
  font-family: 'Kulim Park', sans-serif !important;
  color: black;
}

body {
  margin: 0px;
}

.main-bg {
  background: var(--main-bg-color);
}

.alt-bg {
  background: var(--accent-bg-color);
}

.section-container {
  padding: 10% 10%;
}

@media (min-width: 1000px) {
  .section-container {
    padding: 5% 25%;
  }
}

.section {
  margin: auto;
}

/*-------------------------------------------------------------- # Base Section End--------------------------------------------------------------*/

/*-------------------------------------------------------------- # General Section Start--------------------------------------------------------------*/

.hidden {
  display: none !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  text-align: center;
  font-size: min(7.5vw, 50px);
  margin: min(2vh, 13.3px) 0;
  font-weight: 800;
}

h3,
h4 {
  text-align: center;
  text-transform: capitalize;
  font-size: min(6vw, 40px);
  font-weight: 600;
}

h5,
h6,
p {
  font-size: min(4vw, 26.7px);
  text-align: left;
  font-weight: 400;
}

h1,
h3,
h5,
p {
  color: #0a0c1f;
  font-style: normal;
}

h2,
h4,
h6 {
  color: var(--font-green-color);
  font-style: normal;
  font-weight: 600;
}

/*-------------------------------------------------------------- # General Section End--------------------------------------------------------------*/

/*-------------------------------------------------------------- # main Section Start --------------------------------------------------------------*/

#main #vl-container {
  margin: min(6vh, 40px) 0;
}

#main #vl-container .vl {
  text-align: center;
  border-left: min(0.3vh, 2px) solid #0a0c1f;
  height: min(45vh, 200px);
  display: flex;
  justify-content: center; /* center the child elements horizontally */
}

#main h1,
#main h3 {
  text-transform: uppercase;
  margin: 0;
}

#main h1 {
  font-size: min(12vw, 80px);
  font-weight: 1000;
  letter-spacing: min(0.12vw, 0.8px);
}

#main h3 {
  letter-spacing: min(3vw, 20px);
  text-shadow: 0px min(0.15vh, 1px) min(0.15vh, 1px) rgba(0, 0, 0, 0.25);
}

#main h4 {
  letter-spacing: min(0.6vw, 2px);
  text-shadow: 0px 0px min(0.3vh, 2px) rgba(0, 0, 0, 0.25);
}

/*-------------------------------------------------------------- # main Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # form Section Start --------------------------------------------------------------*/

/* Base */
#form {
  background: var(--accent-bg-color);
  text-align: center;
}

/* Progress */
#form #form-progress {
  display: grid;
  grid-template-columns: repeat(9, minmax(0px, 1fr));
  grid-template-rows: repeat(1, minmax(0px, 1fr));
  gap: min(1.5vw, 10px);
  place-items: center stretch;
  margin: auto;
  padding: min(9vw, 60px) 0;
  width: min(80vw, 500px);
}

#form #form-progress .numberCircle {
  color: grey;

  border-radius: 50%;
  border: min(0.3vh, 2px) solid grey;
  aspect-ratio: 1/1;

  font-size: min(4.5vw, 30px);
}

#form #form-progress .numberCircle.current {
  background: #fff;
  border: min(0.3vh, 2px) solid var(--font-green-color);
  color: var(--font-green-color);
}

#form #form-progress .numberCircle.progressed {
  background: var(--font-green-color);
  border: min(0.3vh, 2px) solid white;
  color: white;
}

#form #form-progress .progress-separator {
  border-bottom: min(0.3vh, 2px) solid grey;
}

/* QA */
#form #form-qs {
  min-height: 45vh;
}

#form label {
  display: block;
  min-height: 10vh;
  font-size: min(4.5vw, 30px);
}

#form .form-a {
  margin: min(6vh, 20px) 0;
}

#form .form-a textarea {
  border-radius: min(0.9vh, 60px);
  padding: min(3vh, 20px);
  width: 100%;
  height: 30vh;
  font-size: min(4.5vw, 30px);
}

#form #form-q5 label {
  min-height: 0;
}

#form #form-q5 .form-a label {
  font-size: min(4vw, 20px);
  display: inline-block;
  width: 33%;
  height: 0;
  text-align: left;
}

#form #form-q5 input[type='text'],
#form #form-q5 select {
  font-size: min(4vw, 20px);
  margin: min(1.5vh, 10px) 0;
  padding: 0 min(1.5vh, 10px);
  border-radius: min(1.5vh, 10px);
  width: 63%;
  height: min(6vh, 40px);
}

#form #form-q5 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/></svg>');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: min(3vh, 20px);
  cursor: pointer;
  padding-right: min(3vh, 20px); /* Adjust padding to match input element */
}

#form #form-q5 p {
  font-size: min(3vw, 20px);
}

#form #form-q5 #form-agreement {
  margin: min(1.5vh, 10px) 0;
}

/* Buttons */
#form button {
  background-color: white;
  margin: min(1.5vh, 10px);
  width: min(95%, 35vh);
  height: min(7.5vh, 50px);

  font-size: min(4.5vw, 25px);
  color: var(--font-green-color);
  font-weight: 600;

  border-radius: min(1.5vh, 10px);
  border: min(0.3vh, 2px) solid var(--font-green-color);
}

#form button.selected {
  background-color: var(--font-green-color);
  color: white;
}

#form #form-buttons button {
  width: min(24vw, 160px);
}

#form #form-buttons button.completed {
  background-color: var(--font-green-color);
  color: white;
}

/* Post */

#form #form-post-container {
  min-height: 65vh;
}

#form #form-post {
  margin: auto;
}

#form #form-post h3 {
  font-size: min(6vw, 40px);
  line-height: min(6vw, 40px);
  margin-bottom: min(3vh, 20px);
  text-align: left;
}

.gg-check-o {
  --ggs: 3;
  color: black;
  background-color: black;
  margin: auto;
  margin-bottom: 50px;
}

.gg-check-o::after {
  color: var(--accent-bg-color);
}

/*-------------------------------------------------------------- # form Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # slogan Section Start --------------------------------------------------------------*/

#slogan {
  background: var(--main-bg-color);
}

#slogan h5 {
  text-align: right;
}

#slogan h2 {
  font-size: min(9vw, 60px);
  line-height: 2.5em;
  letter-spacing: 0.03em;
}

/*-------------------------------------------------------------- # slogan Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # clients Section Start --------------------------------------------------------------*/

#clients {
  background: var(--accent-bg-color);
}

#clients .gallery-cell {
  width: 80%;
  margin-right: min(6vh, 20px);
  counter-increment: gallery-cell;
}

#clients img {
  width: 100%; /* set the width of the image to 100% of the container */
}

/*-------------------------------------------------------------- # clients Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # offer Section Start --------------------------------------------------------------*/

#offer {
  background: var(--main-bg-color);
}

#offer .gallery {
  background: #eee;
  border-radius: 4%;
  width: min(100%, 500px);
  margin: auto;
}

#offer .flickity-viewport {
  border-radius: 4%;
}

#offer img {
  width: 100%; /* set the width of the image to 100% of the container */
  height: 100%; /* set the height of the image to 100% of the container */
  object-fit: cover; /* stretch the image to fill the container */
}

#offer .gallery-cell {
  width: 100%;
  height: max(50vh, 45vw);
}

#offer .gallery-cell-top {
  width: 100%;
  height: 55%;
}

#offer .gallery-cell-bot {
  width: 100%;
  height: 45%;
  background: #fcecbb;
}

#offer .gallery-cell-bot h5 {
  font-size: min(6vw, 40px);
  font-weight: 600;
  padding: min(9vw, 60px) 0 min(1.5vw, 10px) 0em;
  margin: 0;
  text-align: center;
}

/* position dots in carousel */
#offer .flickity-page-dots {
  bottom: 37.5%;
}

#offer .gallery-cell-bot p {
  font-weight: 400;
  padding: 0 10%;
  margin: 0;
  text-align: center;
}

#offer #everfit {
  padding: 2em 0;
}

/* smaller, dark, rounded square */
#offer .flickity-button {
  background: #333;
}
#offer .flickity-button:hover {
  background: #f90;
}

#offer .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
/* icon color */
#offer .flickity-button-icon {
  fill: white;
}
/* position outside */
#offer .flickity-prev-next-button.previous {
  left: -40px;
}
#offer .flickity-prev-next-button.next {
  right: -40px;
}
/*-------------------------------------------------------------- # offer Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # howto Section Start --------------------------------------------------------------*/

#howto {
  background: var(--accent-bg-color);
  padding: 10vh 0;
}

@media (min-width: 1000px) {
  #howto {
    padding: 5% 25%;
  }
}

#howto .step {
  height: min(15vh, 25vw);
  margin: min(7.5vh, 50px) 0;

  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  grid-template-rows: repeat(1, minmax(0px, 1fr));
}

#howto .step .right {
  justify-self: end;
  justify-content: space-around;
  text-align: right;
}

#howto .step .left {
  justify-self: start;
  justify-content: space-around;
  text-align: left;
}

#howto .step .block.right {
  margin-left: max(-7.5vh, -12.5vw);
  padding-left: min(10vw, 7.5vh);
  padding-right: 2.5vw;
}

#howto .step .block.left {
  margin-right: max(-7.5vh, -12.5vw);
  padding-right: min(12vw, 8vh);
  padding-left: 2.5vw;
}

#howto .step .step-id {
  grid-column: span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#howto .step .circle {
  grid-column: span 1 / span 1;
  height: inherit;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #f4d9d0;
  display: flex;
  flex-direction: column;
}

#howto .step .circle i {
  --ggs: 3;
  align-self: center;
  color: #c48468;
}

#howto .step .block {
  display: flex;
  flex-flow: column;
  background: #f4d9d0;

  justify-content: center;
  grid-column: span 2 / span 2;
}

#howto .step .block p,
#howto .step .block h5 {
}

#howto .step .block h5 {
  font-size: min(5vw, 33.3px);
  font-weight: 600;
}

#howto .step .block p {
  font-size: min(3vw, 20px);
  font-weight: 400;
}

/*-------------------------------------------------------------- # howto Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # employee Section Start --------------------------------------------------------------*/

#employee-container {
  padding-bottom: 0;
}

#employee img {
  margin: auto;
  padding-top: min(3vh, 20px);
  max-width: 65%;
}

/*-------------------------------------------------------------- # employee Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # faq Section Start --------------------------------------------------------------*/

#faq {
  background: var(--accent-bg-color);
}

.faq .faq-item {
  border-bottom: 1px solid light grey;
}
.faq .faq-item button[aria-expanded='true'] {
  border-bottom: 1px solid var(--font-green-color);
}
.faq button {
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 1em 3em 1em 1em;
  color: var(--font-green-color);
  font-size: min(3vw, 20px);
  font-weight: 600;
  border: none;
  background: none;
  outline: none;
  width: 100%;
}

.faq button .faq-question {
  width: 88%;
  display: inline-block;
}
.faq button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  right: 0%;
}
.faq button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.faq button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.faq button[aria-expanded='true'] + .faq-answer {
  opacity: 1;
  max-height: 100vh;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  background: rgba(58, 107, 60, 0.09);
}
.faq .faq-answer p {
  font-size: min(3vw, 20px);
  line-height: 1.5em;
  margin: 1em 1em 1em 1em;
  text-align: justify;
}

/*-------------------------------------------------------------- # faq Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # foot Section Start --------------------------------------------------------------*/

#foot {
  background: var(--main-bg-color);
  align-items: center;
}

#foot h1,
#foot h3 {
  text-transform: uppercase;
  margin: 0;
}

#foot h1 {
  font-size: min(12vw, 80px);
  font-weight: 1000;
  letter-spacing: min(0.12vw, 0.8px);
}

#foot h3 {
  letter-spacing: min(3vw, 20px);
  text-shadow: 0px min(0.15vh, 1px) min(0.15vh, 1px) rgba(0, 0, 0, 0.25);
}

#foot .container {
  margin: min(3vh, 20px) 0;
}

#foot #terms {
  flex-flow: column;
  margin: min(6vh, 40px) 0;
}

#foot .container i {
  --ggs: 1;
  margin: 15px;
}

/*-------------------------------------------------------------- # foot Section End --------------------------------------------------------------*/
