@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------------------------------------- # Base Section Start--------------------------------------------------------------*/
:root {
  --main-bg-color: #d3c6b6;
  --accent-bg-color: #f5f5f5;
  --font-green-color: #3a6b3c;
}

html * {
  font-family: 'Kulim Park', sans-serif !important;
  color: black;
}

body {
  margin: 0px;
}

.main-bg {
  background: var(--main-bg-color);
}

.alt-bg {
  background: var(--accent-bg-color);
}

.section-container {
  padding: 10% 10%;
}

.section {
  margin: auto;
}

.h-80-screen {
  height: 80vh;
}

/*-------------------------------------------------------------- # Base Section End--------------------------------------------------------------*/

/*-------------------------------------------------------------- # General Section Start--------------------------------------------------------------*/

.hidden {
  display: none !important;
}

.container {
  display: flex;
  justify-content: center; /* center the child elements horizontally */
}

h1,
h2 {
  text-align: center;
  font-size: min(6vh, 40px);
  margin: min(1.5vh, 10px) 0;
  font-weight: 800;
}

h3,
h4 {
  text-align: center;
  text-transform: capitalize;
  font-size: min(3vh, 20px);
  line-height: min(3vh, 20px);
  font-weight: 600;
}

h5,
h6,
p {
  text-transform: capitalize;
  font-size: min(2vh, 13.3px);
  line-height: min(2vh, 13.3px);
  text-align: left;
  font-weight: 400;
}

h1,
h3,
h5,
p {
  color: #0a0c1f;
  font-style: normal;
}

h2,
h4,
h6 {
  color: var(--font-green-color);
  font-style: normal;
  font-weight: 600;
}

/*-------------------------------------------------------------- # General Section End--------------------------------------------------------------*/

/*-------------------------------------------------------------- # main Section Start --------------------------------------------------------------*/

#main #vl-container {
  margin: min(6vh, 40px) 0;
}

#main #vl-container .vl {
  text-align: center;
  border-left: min(0.3vh, 2px) solid #0a0c1f;
  height: min(45vh, 300px);
  display: flex;
  justify-content: center; /* center the child elements horizontally */
}

#main h1,
#main h3 {
  text-transform: uppercase;
  margin: 0;
}

#main h1 {
  font-size: min(7.5vh, 50px);
  font-weight: 1000;
  letter-spacing: min(0.06vh, 0.4px);
  line-height: min(9vh, 60px);
}

#main h3 {
  font-size: min(6vh, 40px);
  letter-spacing: min(0.9vh, 6px);
  text-shadow: 0px min(0.15vh, 1px) min(0.15vh, 1px) rgba(0, 0, 0, 0.25);
}

#main h4 {
  letter-spacing: min(0.3vh, 2px);
  text-shadow: 0px 0px min(0.3vh, 2px) rgba(0, 0, 0, 0.25);
}

#main p {
  font-size: min(3vh, 20px);
  line-height: min(3vh, 20px);
}

/* Arrow */

/*-------------------------------------------------------------- # main Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # form Section Start --------------------------------------------------------------*/

/* Base */
#form {
  background: var(--accent-bg-color);
  text-align: center;
}

/* Progress */
#form #form-progress {
  display: grid;
  grid-template-columns: repeat(9, minmax(0px, 1fr));
  grid-template-rows: repeat(1, minmax(0px, 1fr));
  gap: min(1.5vw, 10px);
  place-items: center stretch;
  margin: auto;
  padding: min(9vw, 60px) 0;
  width: min(80vw, 500px);
}

#form #form-progress .numberCircle {
  color: grey;

  border-radius: 50%;
  border: 2px solid grey;
  aspect-ratio: 1/1;

  font-size: min(3vh, 20px);
}

#form #form-progress .numberCircle.current {
  background: #fff;
  border: 2px solid var(--font-green-color);
  color: var(--font-green-color);
}

#form #form-progress .numberCircle.progressed {
  background: var(--font-green-color);
  border: 2px solid white;
  color: white;
}

#form #form-progress .progress-separator {
  border-bottom: 2px solid grey;
}

/* QA */
#form label {
  font-size: min(3vh, 20px);
}

#form .form-a {
  margin: min(6vh, 20px) 0;
}

#form .form-a textarea {
  border-radius: min(0.9vh, 60px);
  padding: min(3vh, 20px);
  width: 80%;
  height: min(36vh, 240px);
}

#form #form-q5 .form-a label {
  font-size: min(2vh, 13.3px);
  display: inline-block;
  width: 34%;
  text-align: left;
}

#form #form-q5 input[type='text'],
#form #form-q5 select {
  margin: min(1.5vh, 10px) 0;
  padding: 0 min(1.5vh, 10px);
  border-radius: min(1.5vh, 10px);
  width: 64%;
  height: min(6vh, 40px);
}

#form #form-q5 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/></svg>');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: min(3vh, 20px);
  cursor: pointer;
  padding-right: min(3vh, 20px); /* Adjust padding to match input element */
}

#form #form-q5 p {
  font-size: min(1.5vh, 10px);
}

/* Buttons */
#form button {
  background-color: white;
  margin: min(1.5vh, 10px);
  width: min(95%, 500px);
  height: min(7.5vh, 50px);

  font-size: min(3vh, 20px);
  color: var(--font-green-color);

  border-radius: min(1.5vh, 10px);
  border: min(0.3vh, 2px) solid var(--font-green-color);
}

#form button.selected {
  background-color: var(--font-green-color);
  color: white;
}

#form #form-buttons button {
  width: min(15vh, 100px); /* TODO */
}

#form #form-buttons button.completed {
  background-color: var(--font-green-color);
  color: white;
}

/* Post */
#form #form-post h3 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
}

#form #form-post p {
}

/*-------------------------------------------------------------- # form Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # slogan Section Start --------------------------------------------------------------*/

#slogan {
  background: var(--main-bg-color);
}

#slogan h2 {
  font-size: 2em;
  line-height: 2.5em;
  letter-spacing: 0.03em;
}

/*-------------------------------------------------------------- # slogan Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # clients Section Start --------------------------------------------------------------*/

#clients {
  background: var(--accent-bg-color);
}

#clients .gallery-cell {
  width: 85%;
  height: 65vh;
  margin-right: min(2vh, 10px);
  background: #8c8;
  counter-increment: gallery-cell;
}

/* cell number */
#clients .gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 25vh;
  font-size: 80px;
  color: white;
}

/*-------------------------------------------------------------- # clients Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # offer Section Start --------------------------------------------------------------*/

#offer {
  background: var(--main-bg-color);
}

#offer .gallery {
  background: #eee;
  border-radius: 4%;
}

#offer .flickity-viewport {
  border-radius: 4%;
}

#offer .gallery-cell {
  width: 100%;
  height: 50vh;
  background: #8c8;
}

#offer .gallery-cell-top {
  width: 100%;
  height: 55%;
  background: red;
}

#offer .gallery-cell-bot {
  width: 100%;
  height: 45%;
  background: #fcecbb;
}

#offer .gallery-cell-bot h5 {
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 600;
  padding: 2em 0em 0.75em 0em;
  margin: 0;
  text-align: center;
}

#offer .gallery-cell-bot p {
  font-size: 0.8em;
  font-weight: 600;
  line-height: 1em;
  padding: 0em 2em 0em 2em;
  margin: 0;
  text-align: center;
}

/* position dots in carousel */
#offer .flickity-page-dots {
  bottom: 37.5%;
}

#offer #everfit {
  padding: 2em 0;
}

/*-------------------------------------------------------------- # offer Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # howto Section Start --------------------------------------------------------------*/

#howto {
  background: var(--accent-bg-color);
}

/*-------------------------------------------------------------- # howto Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # employee Section Start --------------------------------------------------------------*/

#employee {
  background: var(--main-bg-color);
}

#employee p {
  font-size: 1em;
  text-align: left;
  line-height: 1.5em;
  text-align: justify;
}

/*-------------------------------------------------------------- # employee Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # faq Section Start --------------------------------------------------------------*/

#faq {
  background: var(--accent-bg-color);
}

.faq .faq-item {
  border-bottom: 1px solid light grey;
}
.faq .faq-item button[aria-expanded='true'] {
  border-bottom: 1px solid var(--font-green-color);
}
.faq button {
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 1em 3em 1em 1em;
  color: var(--font-green-color);
  font-size: 1em;
  font-weight: 600;
  border: none;
  background: none;
  outline: none;
  width: 100%;
}

.faq button .faq-question {
  width: 88%;
  display: inline-block;
}
.faq button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
  right: 0%;
}
.faq button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.faq button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.faq button[aria-expanded='true'] + .faq-answer {
  opacity: 1;
  max-height: 100vh;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  background: rgba(58, 107, 60, 0.09);
}
.faq .faq-answer p {
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 1em 1em 1em 1em;
  text-align: justify;
}

/*-------------------------------------------------------------- # faq Section End --------------------------------------------------------------*/

/*-------------------------------------------------------------- # foot Section Start --------------------------------------------------------------*/

#foot {
  background: var(--main-bg-color);
}

/*-------------------------------------------------------------- # foot Section End --------------------------------------------------------------*/
